<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/cycles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/settings.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    {% load timer_template_filter %}

    <div class="black_bg">

    </div>
    <div class="modal_wrap">
        <div class="modal_close"><a href="#">close</a>
        </div>
        <div id="divpop_p" style="width:100%; height:100%;">
        </div>
    </div>

    <div class="settings-main-content" style="height:100%;">
        <div class="topnav" id="myTopnav">
            <a class="settings-cancel" href="#cancel">취소</a>
            <a href="#home">타이머 목록</a>
            <a class="settings-save" href="#save">저장</a>
        </div>
        <div class="header" id="header">
            <div>타이머 명</div>
        </div>
        <ul class="select-list">
            {% for timer in timers %}
                <li class="select-item">
                    <!-- <p>{{timer | private:'_id'}}</p> -->
                    <div class="select-item-text">
                        <div class="select-item-title">
                            <div class="select-item-title-text"><a href="#" class="modal_view" id="{{timer | private:'_id'}}" data-value={{timer }}>{{timer.timer_name}}</a></div>
                            <!-- <div class="select-item-title-text"><a href="#" id="modal_view">{{timer.timer_name}}</a></div> -->
                        </div>
                        <div class="select-item-description">운동 목록: {{timer.exercise_list}}</div>
                    </div>
                    <div class="select-item-time-setting">
                        <div class="select-item-time-text">
                            <div class="date">{{timer.created_at}}</div>
                        </div>
                    </div>
                </li>

                <hr>
            {% endfor %}

            <!-- <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-text"><a href="#" id="modal_view">타이머 이름</a></div>
                    </div>
                    <div class="select-item-description">타이머 내용</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <div class="date">등록일시 넣기</div>
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-text"><a href="#" id="modal_view">타이머 이름</a></div>
                    </div>
                    <div class="select-item-description">타이머 내용</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <div class="date">등록일시 넣기</div>
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-text"><a href="#" id="modal_view">타이머 이름</a></div>
                    </div>
                    <div class="select-item-description">타이머 내용</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <div class="date">등록일시 넣기</div>
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-text"><a href="#" id="modal_view">타이머 이름</a></div>
                    </div>
                    <div class="select-item-description">타이머 내용</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <div class="date">등록일시 넣기</div>
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-text"><a href="#" id="modal_view">타이머 이름</a></div>
                    </div>
                    <div class="select-item-description">타이머 내용</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <div class="date">등록일시 넣기</div>
                    </div>
                </div>
            </li>

            <hr> -->
        </ul>

        <div class="exercise-history-list">
            <div class="bt_wrap">
                <button id="write-button"><a href="#" id="modal_write">등록</a></button>
                <div id="popup">
                    <div id="popmenu">
                        <p>안녕하세요!</p>
                        <div class="exit">닫기</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        var timerList = "{{timers_js | escapejs }}";
        timerList = JSON.parse(timerList);
        // console.log('timers', timerList);

        window.onload = function () {

            function loadPopup(data) {
                document.querySelector('.modal_wrap').style.display = 'block';
                document.querySelector('.black_bg').style.display = 'block';
                $(document).ready(function () {
                    $("#divpop_p").load("edit.html", function() {
                        console.log('data', data);
                        console.log('data', data['_id']);
                        $(".timer_id").val(data['_id']);
                        $(".timer_name").val(data['timer_name']);
                        $(".ready_min").val(data['ready_min']);
                        $(".ready_sec").val(data['ready_sec']);
                        $(".exercise_min").val(data['exercise_min']);
                        $(".exercise_sec").val(data['exercise_sec']);
                        $(".rest_min").val(data['rest_min']);
                        $(".rest_sec").val(data['rest_sec']);
                        $(".round_count").val(data['round_count']);
                        $(".cycle_count").val(data['cycle_count']);
                        $(".between_cycle_min").val(data['between_cycle_min']);
                        $(".between_cycle_sec").val(data['between_cycle_sec']);
                    });
                });
            }

            // function onClick() {
            //     document.querySelector('.modal_wrap').style.display = 'block';
            //     document.querySelector('.black_bg').style.display = 'block';
            //     $(document).ready(function () {
            //         $("#divpop_p").load("edit.html");
            //     });
            // }
            function offClick() {
                document.querySelector('.modal_wrap').style.display = 'none';
                document.querySelector('.black_bg').style.display = 'none';
            }

            function onClickwrite() {
                document.querySelector('.modal_wrap').style.display = 'block';
                document.querySelector('.black_bg').style.display = 'block';
                $(document).ready(function () {

                    $("#divpop_p").load("write.html");

                });
            }

            // document.getElementById('modal_view').addEventListener('click', onClick);
            // document.getElementsByClassName('modal_view').addEventListener('click', onClick);
            // document.querySelectorAll('.modal_view').addEventListener('click', function(event) {
            //     console.log('event', event.srcElement.id);
            // });
            var timeTableRows = document.querySelectorAll('.modal_view');
            for (var i = 0; i < timeTableRows.length; i++) {
                timeTableRows[i].addEventListener('click', function(event) {
                    var rowId = event.srcElement.id;
                    var targetData = timerList.find(x => x._id === rowId);
                    // console.log(targetData);
                    loadPopup(targetData);
                });
            }
            document.querySelector('.modal_close').addEventListener('click', offClick);
            document.getElementById('modal_write').addEventListener('click', onClickwrite);

        };
    </script>
</body>

</html>