<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../static/css/cycles.css">
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/settings.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
    <div class="settings-main-content" style="height:100%;">
        <div class="topnav" id="myTopnav">
            <a class="settings-cancel" href="#cancel"></a>
            <a href="#home">새 타이머 등록</a>
            <a class="settings-save" href="#save"></a>
        </div>

        <form method="POST" action="/update">
            {% csrf_token %}
            
        <div class="header" id="header">
            <!-- <div><input class="timer_name" type="text" class="exercise_name" value="{{ timer.timer_name }}" name="timer_name" disabled /></div> -->
            <div><input class="timer_name" type="text" class="exercise_name" value="타이머명을 입력하세요." name="timer_name" /></div>
            <input class="timer_id" type="hidden" name="timer_id" value="">
            <div style="margin-bottom:5px; text-align:right;">

                수정 확인 &ensp;
                <input type="checkbox" id="is_edit" name="is_edit" value="0" onclick="showHidden()"></dd>
            </div>
        </div>
        <ul class="select-list">
            <li class="select-item">
            <div class="select-item-text">
                <div class="select-item-title">
                <div class="select-item-title-icon">
                    <i class="fas fa-circle yellow"></i>
                </div>
                <div class="select-item-title-text">준비</div>
                </div>
                <div class="select-item-description">시작하기 전 카운트다운</div>
            </div>
            <div class="select-item-time-setting">
                <div class="select-item-time-text">
                <!-- <input type="text" min="0" max="59" class="timer" value="00" name="ready_min" disabled /> : <input type="text" min="0"
                    max="59" class="timer" value="00" name="ready_sec" disabled /> -->
                <input class="ready_min" type="text" min="0" max="59" class="timer" value="00" name="ready_min" /> : <input class="ready_sec" type="text" min="0"
                    max="59" class="timer" value="00" name="ready_sec" />
                </div>
            </div>
            </li>
    
            <hr>
    
            <li class="select-item">
            <div class="select-item-text">
                <div class="select-item-title">
                <div class="select-item-title-icon">
                    <i class="fas fa-circle green-yellow"></i>
                </div>
                <div class="select-item-title-text">운동</div>
                </div>
                <div class="select-item-description">오래 운동하기</div>
            </div>
            <div class="select-item-time-setting">
                <div class="select-item-time-text">
                <!-- <input type="text" min="0" max="59" class="timer" value="00" name="exercise_min" disabled /> : <input type="text" min="0"
                    max="59" class="timer" value="00" name="exercise_sec" disabled /> -->
                <input class="exercise_min" type="text" min="0" max="59" class="timer" value="00" name="exercise_min" /> : <input class="exercise_sec" type="text" min="0"
                    max="59" class="timer" value="00" name="exercise_sec" />
                </div>
            </div>
            </li>
    
            <hr>
    
            <li class="select-item">
            <div class="select-item-text">
                <div class="select-item-title">
                <div class="select-item-title-icon">
                    <i class="fas fa-circle red"></i>
                </div>
                <div class="select-item-title-text">휴식</div>
                </div>
                <div class="select-item-description">오래 휴식하기</div>
            </div>
            <div class="select-item-time-setting">
                <div class="select-item-time-text">
                <!-- <input type="text" min="0" max="59" class="timer" value="00" name="rest_min" disabled /> : <input type="text" min="0"
                    max="59" class="timer" value="00" name="rest_sec" disabled /> -->

                <input class="rest_min" type="text" min="0" max="59" class="timer" value="00" name="rest_min"  /> : <input class="rest_sec" type="text" min="0"
                    max="59" class="timer" value="00" name="rest_sec" />
                </div>
            </div>
            </li>
    
            <hr>
    
            <li class="select-item">
            <div class="select-item-text">
                <div class="select-item-title">
                <div class="select-item-title-icon">
                    <i class="fas fa-circle deep-sky-blue"></i>
                </div>
                <div class="select-item-title-text">라운드</div>
                </div>
                <div class="select-item-description">1라운드는 운동 + 휴식입니다.</div>
            </div>
            <div class="select-item-time-setting">
                <div class="select-item-time-text">
                <!-- <input type="text" min="0" max="99" class="timer" value="00" name="round_count" disabled /> -->
                <input class="round_count" type="text" min="0" max="99" class="timer" value="00" name="round_count" />
                </div>
            </div>
            </li>
    
            <hr>
    
            <li class="select-item">
            <div class="select-item-text">
                <div class="select-item-title">
                <div class="select-item-title-icon">
                    <i class="fas fa-circle yellow"></i>
                </div>
                <div class="select-item-title-text">사이클</div>
                </div>
                <div class="select-item-description">1사이클은 8라운드</div>
            </div>
            <div class="select-item-time-setting">
                <div class="select-item-time-text">
                <!-- <input type="text" min="0" max="59" class="timer" value="00" name="cycle_count" disabled /> -->
                <input class="cycle_count" type="text" min="0" max="59" class="timer" value="00" name="cycle_count" />
                </div>
            </div>
            </li>
    
            <hr>
    
            <li class="select-item">
            <div class="select-item-text">
                <div class="select-item-title">
                <div class="select-item-title-icon">
                    <i class="fas fa-circle yellow"></i>
                </div>
                <div class="select-item-title-text">사이클 사이 휴식</div>
                </div>
                <div class="select-item-description">회복간격</div>
            </div>
            <div class="select-item-time-setting">
                <div class="select-item-time-text">
                <!-- <input type="text" min="0" max="59" class="timer" value="00" name="between_cycle_min" disabled /> : <input type="text" min="0"
                    max="59" class="timer" value="00" name="between_cycle_sec" disabled /> -->

                <input class="between_cycle_min" type="text" min="0" max="59" class="timer" value="00" name="between_cycle_min" /> : <input class="between_cycle_sec" type="text" min="0"
                    max="59" class="timer" value="00" name="between_cycle_sec" />
                </div>
            </div>
            </li>
    
            <hr>
        </ul>
        
        <div style="text-align: center;">
            <input class="settings-save" type="submit" style="background-color: #333; 
                                                            color:#fff; 
                                                            font-size:1em;
                                                            margin:5px;
                                                            padding:4px 8px;
                                                            border-radius:3px;" name="update" value="수정"> &ensp;&ensp;&ensp;
            <input class="settings-delete" type="submit" style="background-color: #333; 
                                                                color:#fff; 
                                                                font-size:1em;
                                                                margin:5px;
                                                                padding:4px 8px;
                                                                border-radius:3px;" name="delete" value="삭제">
        </div>
    </form>

    </div>

    <script>
        function showHidden() {
            if ($("input:checkbox[id='is_edit']").is(":checked") == true) {
                $('.timer').attr('disabled', false);
                $('.exercise_name').attr('disabled', false);
            } else {
                $('.timer').attr('disabled', true);
                $('.exercise_name').attr('disabled', true);
            }
        }
    </script>
</body>

</html>