<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="../static/css/cycles.css">
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/settings.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<!-- <body>
    <div class="board_wrap" style="width:100%; height:100%;">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div style="margin-bottom:5px; text-align:right;">
            수정 확인 &ensp;
            <input type="checkbox" id="is_edit" name="is_edit" value="0" onclick="showHidden()"></dd>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목 입력" value="글 제목이 들어갑니다" id="b_title" disabled/></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><input type="text" placeholder="글쓴이 입력" value="김이름"></dd>
                    </dl>
                    <dl>
                        <dt>비밀번호</dt>
                        <dd><input type="password" placeholder="비밀번호 입력" value="1234"></dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용 입력">
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.
글 내용이 들어갑니다.</textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="view.html" class="on">수정</a>
                <a href="view.html">취소</a>
            </div>
        </div>
    </div>
    <script>
        function showHidden(){
            if($("input:checkbox[id='is_edit']").is(":checked") == true) {
                $('#b_title').attr('disabled', false);    
            } else {
                $('#b_title').attr('disabled', true);
            }    
        }
    </script>
</body>
</html> -->

<body>
    <div class="settings-main-content" style="height:100%;">
        <div class="topnav" id="myTopnav">
            <a class="settings-cancel" href="#cancel">취소</a>
            <a href="#home">새 타이머 등록</a>
            <a class="settings-save" href="#save">저장</a>
        </div>
        <div class="header" id="header">
            <div class="timer-name">타이머 명</div>
            <div style="margin-bottom:5px; text-align:right;">
                수정 확인 &ensp;
                <input type="checkbox" id="is_edit" name="is_edit" value="0" onclick="showHidden()"></dd>
            </div>
        </div>
        <ul class="select-list">
            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-icon">
                            <i class="fas fa-circle yellow"></i>
                        </div>
                        <div class="select-item-title-text">준비</div>
                    </div>
                    <div class="select-item-description">시작하기 전 카운트다운</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <input class="ready_min" type="text" min="0" max="59" class="timer" value="00" name="prep_min" disabled /> :
                        <input class="ready_sec" type="text" min="0" max="59" class="timer" value="00" name="prep_sec" disabled />
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-icon">
                            <i class="fas fa-circle green-yellow"></i>
                        </div>
                        <div class="select-item-title-text">운동</div>
                    </div>
                    <div class="select-item-description">오래 운동하기</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <input class="exercise_min" type="text" min="0" max="59" class="timer" value="00" name="prep_min" disabled /> :
                        <input class="exercise_sec" type="text" min="0" max="59" class="timer" value="00" name="prep_sec" disabled />
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-icon">
                            <i class="fas fa-circle red"></i>
                        </div>
                        <div class="select-item-title-text">휴식</div>
                    </div>
                    <div class="select-item-description">오래 휴식하기</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <input class="rest_min" type="text" min="0" max="59" class="timer" value="00" name="prep_min" disabled /> :
                        <input class="rest_sec" type="text" min="0" max="59" class="timer" value="00" name="prep_sec" disabled />
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-icon">
                            <i class="fas fa-circle deep-sky-blue"></i>
                        </div>
                        <div class="select-item-title-text">라운드</div>
                    </div>
                    <div class="select-item-description">1라운드는 운동 + 휴식입니다.</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <input class="round_count" type="text" min="0" max="59" class="timer" value="1" name="prep_sec" disabled />
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-icon">
                            <i class="fas fa-circle yellow"></i>
                        </div>
                        <div class="select-item-title-text">사이클</div>
                    </div>
                    <div class="select-item-description">1사이클은 8라운드</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <input class="cycle_count" type="text" min="0" max="59" class="timer" value="1" name="prep_sec" disabled />
                    </div>
                </div>
            </li>

            <hr>

            <li class="select-item">
                <div class="select-item-text">
                    <div class="select-item-title">
                        <div class="select-item-title-icon">
                            <i class="fas fa-circle yellow"></i>
                        </div>
                        <div class="select-item-title-text">사이클 사이 휴식</div>
                    </div>
                    <div class="select-item-description">회복간격</div>
                </div>
                <div class="select-item-time-setting">
                    <div class="select-item-time-text">
                        <input class="between_cycle_min" type="text" min="0" max="59" class="timer" value="00" name="prep_min" disabled /> :
                        <input class="between_cycle_sec" type="text" min="0" max="59" class="timer" value="00" name="prep_sec" disabled />
                    </div>
                </div>
            </li>

            <hr>
        </ul>

    </div>

    <script>
        function showHidden() {
            if ($("input:checkbox[id='is_edit']").is(":checked") == true) {
                $('.timer').attr('disabled', false);
            } else {
                $('.timer').attr('disabled', true);
            }
        }
    </script>
</body>

</html>