@import url(style.css);
@import url(media.css);

.modal_wrap{
    display: none;
    width: 90%;
    height: 90%;
    position: absolute;
    top:5%;
    left: 5%;
    margin: 0 0 0 0;
    background:#fff;
    z-index: 2;
  }
  .black_bg{
    display: none;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0,0, 0.5);
    top:0;
    left: 0;
    z-index: 1;
  }
  .modal_close{
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
  }
  .modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    background:url(https://img.icons8.com/color/29/000000/close-window.png);
    text-indent: -9999px;
  }

  .timer {
    border:none;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    width:30px;
    font-size:1.1em;
    background-color: #333;
    text-align: center;
    color:#fff;
  }

  #write-button {
    background-color: #666;
    color:#fff;
    border:none;
    border-radius:7px;
  }

  #modal_write {
    border:none;
  }