body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.settings-main-content {
    background-color: #333; 
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav {
    display: flex;
    justify-content: space-between;
}

.topnav .settings-save {
    color: #7FFF00;
}

.topnav .settings-save {
    color: #7FFF00;
}

.topnav .settings-cancel {
    color: #696969;
}

.header {
    background-color: #404040;
    color: #A9A9A9;
    text-align: center;
    overflow: hidden;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.select-list {
    overflow: hidden;
    background-color: #333;

    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding-bottom: 0px;
}

.select-list .select-item {
    display: flex;
    justify-content: space-between;
}

.select-list .select-item .select-item-title {
    display: flex;
    color: white;
    margin-bottom: 0.5rem;
}

.select-list .select-item-text .select-item-title-icon {
    margin-right: 0.5rem;

}

.select-list .select-item .select-item-description {
    color: #696969;
}

.select-list .select-item .select-item-time-setting {
    display: flex;
    align-items: center;
    color: white;
}

.select-list .select-item .select-item-time-setting .select-item-time-text {
    margin-right: 1rem;
}

.create-timer-button {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.create-timer-button-content {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #909497;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.create-timer-button-content .create-timer-icon {
    margin-right: 0.5rem;
}

.edit-exercise-history {
    display: flex;
    justify-content: center;
    background-color: #404040;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
}

.edit-exercise-history-button {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #808080;
}

.edit-exercise-history-button-icon {
    margin-left: 0.5rem;
}

.yellow {
    color: yellow;
}

.green-yellow {
    color: GreenYellow;
}

.red {
    color: red;
}

.deep-sky-blue {
    color: #00BFFF;
}