/* #main_timer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  text-align: center;
} */

.wrapper {
  width: 100%;
  height: 100%;
}

.title {
  background-color: black;
  color: yellow;
  height: 10%;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
}

.active {
  background-color: yellow;
  color: black;
  font-size: 70px;
  height: 50%;
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}
.deactive {
  background-color: greenyellow;
  color: black;
  font-size: 50px;
  font-weight: bold;
  height: 20%;
  padding-top: 10px;
  text-align: center;
}

.bottom_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2px;
  /* padding: 3px; */
  position: absolute;
  bottom: 0;
  /* padding-bottom: 10px; */
  text-align: center;
  width: 100%;
  height: 20%;
  background-color: black;
}

.upper_btn {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  margin: 0px;
  justify-content: right;
  padding: 0px;
  background-color: yellow;
  border: none;
}

.start_btn {
  font-size: 30px;
}

.start_btn_text {
  padding-top: 3px;
  font-weight: bold;
  color: yellow;
}
#start_btn {
  font-size: 60px;
  color: yellow;
  background-color: transparent;
  border: none;
}
.timer {
  position: relative;
}
.round {
  padding-top: 10px;
  font-size: 20px;
  color: white;
}

.cycle {
  font-size: 20px;
  padding-top: 10px;
  color: white;
}

#round_cnt {
  font-size: 40px;
  color: skyblue;
  font-weight: bold;
  padding-bottom: 3px;
}

#cycle_cnt {
  font-weight: bold;
  font-size: 40px;
  color: yellow;
  padding-bottom: 3px;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
}
