<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Down Timer</title>
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/style.css" />
    <link rel="stylesheet" href="../../static/css/timer.css" />
    <script src="https://kit.fontawesome.com/a6b071bea7.js" crossorigin="anonymous"></script>
  <body>

      <div class="wrapper">
        <div class="title">
          <h1>{{def_time.timer_name}}</h1>
          <h2 id="totalTime">{{def_time.total_min}}:{{def_time.total_sec}}</h2>
        </div>

          <div class="upper_btn">
            <button class="timer_btn">
              <a href="/cycles"><i class="far fa-clock"></i></a>
            </button>
            <button  onclick="clickRefreshButton()" class="refresh_btn">
              <i class="fas fa-sync"></i>
            </button>
          </div>
          <div class="active">
            <div id="timer_head">준비</div>
            <h1 id="timer">{{def_time.ready_min}}:{{def_time.ready_sec}}</h1>
          </div>
          <div class="deactive">
            <div id="timer_head_next">운동</div>
            <h1 id="timer_next">{{def_time.exercise_min}}:{{def_time.exercise_sec}}</h1>
          </div>

        <div class="bottom_btn">
          <div class="round">
            <div id="round_cnt">{{def_time.round_count}}</div>
            <div>남은 라운드</div>
          </div>
          <div class="start_btn">
            <button id="start_btn" onclick="handleTimerButton()" >
              <i id = "start_icon" class="fas fa-play-circle" ></i>
              </button>
              <div class="start_btn_text" id="start_btn_text"> 시작</div>

          </div>

          <div class="cycle">
            <div id="cycle_cnt">{{def_time.cycle_count}}</div>
            <div>남은 사이클</div>
          </div>
        </div>
      </div>

  </body>
  <script>

    var ready_min = "{{def_time.ready_min}}";
    var ready_sec =  "{{def_time.ready_sec}}";
    var readyTime = parseInt(ready_min)*60 + parseInt(ready_sec)

    var round = parseInt("{{def_time.round_count}}")
    var cycle =  parseInt("{{def_time.cycle_count}}")

    var exerciseTime = parseInt("{{def_time.exercise_min}}")*60 + parseInt("{{def_time.exercise_sec}}")
    var breakTime =  parseInt("{{def_time.rest_min}}")*60 + parseInt("{{def_time.rest_sec}}")
    var cycleBreakTime =parseInt("{{def_time.between_cycle_min}}")*60 + parseInt("{{def_time.between_cycle_sec}}")
    var timer_name = "{{def_time.timer_name}}"




  </script>
  <script src="./static/js/timer.js"></script>

</html>
