<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/reset.css" />
    <link rel="stylesheet" href="../../static/css/settings.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>새 타이머 추가</title>
</head>
<body>
      <div class="topnav" id="myTopnav">
        <a class="settings-cancel" href="#cancel">취소</a>
        <a href="#home">타바타</a>
        <a class="settings-save" href="#save">저장</a>
      </div>
      <div class="header" id="header">
          <div>인터벌</div>
      </div>
      <ul class="select-list">
          <li class="select-item">
              <div class="select-item-text">
                  <div class="select-item-title">
                    <div class="select-item-title-icon">
                        <i class="fas fa-circle yellow"></i>
                    </div>
                    <div class="select-item-title-text">준비</div>
                  </div>
                <div class="select-item-description">시작하기 전 카운트다운</div>
              </div>
              <div class="select-item-time-setting">
                  <div class="select-item-time-text">
                    00:03
                  </div>
                    <div class="select-item-time-setting-icon">
                            <i class="fas fa-chevron-right"></i>
                    </div>
              </div>
          </li>

          <hr>

          <li class="select-item">
              <div class="select-item-text">
                  <div class="select-item-title">
                    <div class="select-item-title-icon">
                        <i class="fas fa-circle green-yellow"></i>
                    </div>
                    <div class="select-item-title-text">운동</div>
                  </div>
                <div class="select-item-description">오래 운동하기</div>
              </div>
              <div class="select-item-time-setting">
                  <div class="select-item-time-text">
                    00:10
                  </div>
                    <div class="select-item-time-setting-icon">
                            <i class="fas fa-chevron-right"></i>
                    </div>
              </div>
          </li>

          <hr>

          <li class="select-item">
              <div class="select-item-text">
                  <div class="select-item-title">
                    <div class="select-item-title-icon">
                        <i class="fas fa-circle red"></i>
                    </div>
                    <div class="select-item-title-text">휴식</div>
                  </div>
                <div class="select-item-description">오래 휴식하기</div>
              </div>
              <div class="select-item-time-setting">
                  <div class="select-item-time-text">
                    00:05
                  </div>
                    <div class="select-item-time-setting-icon">
                            <i class="fas fa-chevron-right"></i>
                    </div>
              </div>
          </li>

          <hr>

          <li class="select-item">
              <div class="select-item-text">
                  <div class="select-item-title">
                    <div class="select-item-title-icon">
                        <i class="fas fa-circle deep-sky-blue"></i>
                    </div>
                    <div class="select-item-title-text">라운드</div>
                  </div>
                <div class="select-item-description">1라운드는 운동 + 휴식입니다.</div>
              </div>
              <div class="select-item-time-setting">
                  <div class="select-item-time-text">
                    8
                  </div>
                    <div class="select-item-time-setting-icon">
                            <i class="fas fa-chevron-right"></i>
                    </div>
              </div>
          </li>

          <hr>

          <li class="select-item">
              <div class="select-item-text">
                  <div class="select-item-title">
                    <div class="select-item-title-icon">
                        <i class="fas fa-circle yellow"></i>
                    </div>
                    <div class="select-item-title-text">사이클</div>
                  </div>
                <div class="select-item-description">1사이클은 8라운드</div>
              </div>
              <div class="select-item-time-setting">
                  <div class="select-item-time-text">
                    8
                  </div>
                    <div class="select-item-time-setting-icon">
                            <i class="fas fa-chevron-right"></i>
                    </div>
              </div>
          </li>

          <hr>

          <li class="select-item">
              <div class="select-item-text">
                  <div class="select-item-title">
                    <div class="select-item-title-icon">
                        <i class="fas fa-circle yellow"></i>
                    </div>
                    <div class="select-item-title-text">사이클 사이 휴식</div>
                  </div>
                <div class="select-item-description">회복간격</div>
              </div>
              <div class="select-item-time-setting">
                  <div class="select-item-time-text">
                    8
                  </div>
                    <div class="select-item-time-setting-icon">
                            <i class="fas fa-chevron-right"></i>
                    </div>
              </div>
          </li>


      </ul>
</body>
</html>